pydantic
requests
ipykernel
python-dotenv

# LangChain
langchain
langchain-core
langchain_community
langchain_experimental
langchain-openai
langchain_groq
langchain_google_genai
langchain-anthropic
langchain-google-genai
langchain-huggingface

pypdf
numpy
scikit-learn

# Embeddings
sentence-transformers

# Vector DB
chromadb
faiss-cpu

# Langgraph
langgraph
grandalf # To draw graph

# Web Scraping and APIs
ddgs
yfinance
wikipedia
youtube-search
duckduckgo-search 
youtube-search-python
youtube_transcript_api

tiktoken
transformers
huggingface-hub
google-generativeai